[Unit]
Description=Pi Car Dragit Starter Service
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/pi/sensorcar/BetaboxDragit/Dragit
ExecStart=/home/pi/sensorcar/BetaboxDragit/Dragit/start

[Install]
WantedBy=multi-user.target
